.full-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



.container{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container .div-img{
    width: 250px;
    height: 250px;
    overflow: hidden;
}

.container .div-img img{
    width: 100%;
    transform: scale(1.2);
    transition-property: transform;
    transition-duration: 500ms;
}

.container .div-img img:hover{
    transform: scale(1);
}

.cont-2 .div-img img{
    transform: scale(1);
}

.cont-2 .div-img img:hover{
    transform: scale(1.2);
}

.cont-3 .div-img img{
    width: 250px;
    height: 250px;
    transform: scale(1);
    transition-property: border-radius,transform;
} 

.cont-3 .div-img{
    overflow: visible;
}

.cont-3 .div-img img:hover{
    transform: scale(0.8);
    border-radius: 10%;
}

.cont-4 .div-img{
    overflow: visible;
   
}

.cont-4 .div-img .img{
    transform: scale(1);
    border-radius: 10px;
}

.cont-4 .text{
    position: absolute;
    bottom: 0;
    opacity: 0;
    font-weight: bold;
    transition: opacity 500ms,bottom 500ms;
}

.cont-4:hover .text{
    bottom: 25px;
    opacity: 1;
}

.cont-4 .div-img{
    transition: transform 700ms;
}

.cont-4:hover .div-img{
    transform: scale(0.8);
}


.cont-5 .div-img{
    overflow: visible;
    transition: transform 700ms;
}

.cont-5 .div-img .img{
    transform: scale(1);
    border-radius: 50%;
}


.cont-5 .text{
    position: absolute;
    right: 50px;
    z-index: 1;
    transition: right 700ms;
}

.cont-5 .div-img{
    z-index: 2;
}

.cont-5:hover .div-img{
    transform: translateX(-50%);
}

.cont-5:hover .text{
    right: 25px;
}


.cont-6 .div-img{
    overflow: hidden;
    transition: border 800ms ease-in 700ms;
}

.cont-6 .div-img .img{
    transform: scale(1);
    border-radius: 50%;
    transition: transform 700ms;
}

.cont-6 .text{
    position: absolute;
    left: 35px;
    opacity: 0;
    z-index: -1;
    transition-property: left,opacity;
    transition-duration: 700ms;
}


.cont-6:hover .div-img img{
    transform: translateX(50%);
}

.cont-6:hover .div-img{
    border: 2px solid #000;
}

.cont-6:hover .text{
    opacity: 1;
    left: 26px;
}


.cont-7 .div-img{
    overflow: visible;
}

.cont-7 .div-img .img{
    transform: scale(1);
    
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 200ms;
    animation-play-state: paused;
}

@keyframes rotarImg {
    0%{
        transform: rotateZ(0deg);
    }

    100%{
        transform: rotateZ(-360deg);
    }
}

.cont-7:hover .div-img .img{
    animation-name: rotarImg;
    animation-play-state: running;
    animation-timing-function: ease;
}


.cont-8 .div-img{
    overflow: visible;
}

.cont-8 .div-img .img{
    transform: scale(1);
}

.cont-8 .text{
    position: absolute;
    font-size: 16px;
    bottom: 22px;
    right: 50px;
    opacity: 0;
    transition: opacity 700ms,right 700ms;
}

.cont-8:hover .text{
    right: 25px;
    opacity: 1;
}

.cont-8:hover .div-img .img{
    transform: translate(-45px,-45px) scale(0.75);

}

.cont-9 .div-img{
    overflow: hidden;
}

.cont-9 .div-img .img{
    transform: scale(1);
    height: 100%;
    width: 400px;
    transition: margin-left 700ms;
}

.cont-9:hover .div-img .img{
    margin-left: -60%;
}

.cont-10 .div-img{
    overflow: hidden;
}

.cont-10 .div-img .img{
    transform: scale(1);
    transition-property: transform,border-radius;
}

.cont-10 .text{
    position: absolute;
    font-size: 22px;
    bottom: 0px;
    opacity: 0;
    transition-property: opacity,bottom,font-size;
    transition-duration: 700ms;
}

.cont-10:hover .text{
    font-size: 26px;
    bottom: 50px;
    opacity: 1;
}

.cont-10:hover .div-img .img{
    transform: scale(0.5) translateY(-100px);
    border-radius: 50%;
}





